<form [formGroup]="user">
<h2>Radio button</h2>

<input type="radio" (click)="display()">Login Form
<br><br>

<div class="form-group p-2"  [hidden]="isboolean">
    <label>First Name:</label>
    <input type="text" class="form-control" formControlName="FirstName">

 <div *ngIf="user.controls['FirstName'].hasError('required')" class="alert alert-danger">
 Enter a First name.
 </div>

 <div *ngIf="user.controls['FirstName'].hasError('minlength')" class="alert alert-danger">
     First Name needs to be atleast 4 characters long.
 </div>
      
 <div *ngIf="user.controls['FirstName'].hasError('maxlength')" class="alert alert-danger">
    First Name cannot exceed 8 characters.
 </div>

 </div>

 <div class="form-group p-2"  [hidden]="isboolean">
      <label>Last Name:</label>
      <input type="text" class="form-control" formControlName="LastName">

   <div *ngIf="user.controls['LastName'].hasError('required')" class="alert alert-danger">
   Enter a Last name.
   </div>

   <div *ngIf="user.controls['LastName'].hasError('minlength')" class="alert alert-danger">
        Last Name needs to be atleast 4 characters long.
   </div>
        
   <div *ngIf="user.controls['LastName'].hasError('maxlength')" class="alert alert-danger">
       Last Name cannot exceed 8 characters.
   </div>
   </div>

   <br><br>

<input type="radio" (click)="display1()">Password field
<br><br>

<div class="form-group p-2" [hidden]="isboolean1">
    <label>Password:</label>
    <input type="password" class="form-control">
 </div>

 <br><br>
<input type="radio" (click)="display2()">Otp field
<br><br>
<div class="form-group p-2" [hidden]="isboolean2">
    <label>Otp:</label>
    <input type="password" class="form-control-sm">
 </div>
<br><br>
 <button>Submit</button>
</form>